{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env", {
                "useBuiltIns": "entry"
            }
        ],
        "@babel/typescript"
    ],
    "plugins": [
        //https://mobx.js.org/best/decorators.html
        [ "@babel/plugin-proposal-decorators", { "legacy": true }],        
        [ "@babel/plugin-proposal-class-properties", { "loose": true} ],
        "@babel/plugin-transform-runtime"
    ]
}
